<!-- loging from desgin -->

<% if (message) { %>
 
         <% if (status) { %>
          <div class="ml-96 w-96 ">   <p class="absolute bg-blue-200    text-gray-700 font-bold px-8 rounded-lg py-2 mt-28  " style="margin-left: 27rem;"><%= message %> <a href="/changephoto"> <i class="fa-solid ml-10 rounded-full hover:scale-105 transition  bg-black h-9 w-9 pl-3 pt-2 bg-blue-500 text-xl fa-xmark"></i></a></p> </div>   
          
          
          
          <% }else{%>
            <div class="ml-96 w-96 ">   <p   class="absolute     text-white font-bold px-8 rounded-lg py-2 mt-28  " style="background-color: red;margin-left: 27rem;"> <%= message %> <a href="/changephoto">  <i class="fa-solid ml-10 rounded-full hover:scale-105 transition  bg-black h-9 w-9 pl-3 pt-2 bg-blue-500 text-xl fa-xmark"></i></a></p> </div>   

                <% } %> 
<% } %>


<div class=" flex items-center  h-screen w-screen  bg-neutral-200  justify-center">

    <div  class=" h-4/6 w-8/12 grid gap-2 grid-cols-6 mb-10   rounded-xl">
  
        <%- include('./layouts/nav.ejs')%> 
  
                 <!-- profile right -->
              <div class="border bg-white  rounded-lg col-span-4  ">
                           
                  
                  <div class="m-8">
                      <form class="space-y-3 h-full " enctype="multipart/form-data" method="post" action="/changephoto">
                        
                          <div>
                               <h3 class="font-semibold  text-3xl">Change photo</h3>
                          </div>
  
                          <hr class="pb-3">
  
                          <img src="/img/user-profile-image.png" class="pre rounded-full object-cover h-64 w-64" alt="">
                          <label for="photo">
                                     
                                    <div class="items-center flex justify-between">
                                      <i class="fa-solid fa-image text-4xl text-slate-700"></i>
                                      <div>
                                            <label class="font-bold text-slate-700 mr-3" for="img">Choose</label>
  
                                      <select class="bg-blue-600 p-1 mb-2 outline-none rounded-md text-white" name="imgfor" id="for">
                                        <option  value="profile">Profile</option>
                                        <option value="cover">Cover</option>
                                     
                                      </select>
                                      </div>
                                  
                                    </div>
                                  <input type="file" name="img" class="hidden" id="photo">
  
                          </label>
                        
                          <div class="font-semibold text-slate-700">
                                
                             <button class="bg-blue-600 text-white h-10 w-full rounded-md" type="submit">Change</button>
  
                          </div>
                          
  
                     </form>
                  </div>
  
  
              </div>
  
    </div>
      
    </div>
  